// 公共
* {
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
  *, *:before, *:after {
  box-sizing: border-box;
  }
  html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
  h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
  article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
  ul, ol { list-style: none; }
  img { border: 0 none; vertical-align: top; }
  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: none; }
  table { border-collapse: collapse; border-spacing: 0; }
  strong, em, i { font-style: normal; font-weight: normal; }
  ins { text-decoration: underline; }
  del { text-decoration: line-through; }
  mark { background: none; }
  input::-ms-clear { display: none !important; }


  $color-blur:#1989fa;
  $color-white:#fff;
  // 定位
  @mixin flex{
    display: flex;
    align-items: center;
  }
  // 省略号
  @mixin ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

// 顶部
.main-cnt {
  padding-top: 45px;
}
// 搜索框
.van-search__action{
  font-size: 16px;
  padding: 0 10px;
  background: #1989fa;
  color: #fff;
  margin: 0 5px;
  border-radius: 2px;
}
// 文本域
.van-cell{
  font-size: 16px;
  &::after{
    position: absolute;
    box-sizing: border-box;
    content: ' ';
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0.5rem;
    border-bottom: 0.03125rem solid #ebedf0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .van-field__word-limit{
    font-size: 14px;
  }
}
// 蓝色按钮
.info-btn{
  font-size: 16px;
}
// 新增 / 编辑容器
.update-modal {
  position: absolute;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.main-cnt {
  padding-top: 45px;
}

.main-box {
  // margin-left: 15px;
  // margin-right: 15px;
}

// 遮罩
.mask{
  width: 100%;
  height: calc(100vh - 45px);
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0.7;
  z-index: 1;
}
// 组织架构 -> 列表
.organizationList {
  .van-collapse-item__content{
    padding: 0 10px;
  }
}
// 已通过 
.passed {
  color: #07c160;
}
.rejected {
  color: #ff976a;
}
.unpassed{
  color: #ee0a24;
}
// 数字键盘
.van-number-keyboard{
  margin-bottom:45px;
}
// loading
.van-loading{
  text-align:center;
}
// 起始时间
.van-cell__title{
  flex:unset;
}

